body{
    font-family: 'Helvetica','Arial', sans-serif;
}

.top-section {
    height: 50%;
    padding: 2%;
    margin: 2% 0;
}

.pro-bg {
    height: 10rem;
    width: 10rem;
    box-shadow: 1px 1px 10px #4e4a67, -2px -2px 10px #3a78fe;
    margin-top: 1rem;
    border-radius: 100%;
}

#profile_img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
}


.pro-name {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}


.pro-title {
    font-weight: 400;
}

.badge_freelancer {
    height: 1.5rem;
    width: 1.5rem;
}

.badge_text {
    font-size: 0.75rem;
}

.portfolio-section {
    font-size: 1.25rem;
    font-family: 'Tahoma','Trebuchet MS','Arial', sans-serif;
    font-weight: 700;
}

.work-location{
    font-size: small;
    font-weight: 700;
}

.border-teal {
    border-left-style: solid;
    border-color: green;
}

.about-me {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 0.9rem;
}

.experience {
    font-size: 0.9rem;
}


a:link, a:hover {
    text-decoration: none;
}

.small-font {
    font-size: small;
}

/*xs gap .5rem, other gap 1rem*/

/*mobile xs less than 767*/

@media (max-width: 767px) {

    .pro-name {
        font-size: 1.5rem;
    }
    .pro-title{
        font-size: 1rem;
    }


}

/*tablet sm equal or greater than 768*/
@media (min-width: 768px) {
    .pro-name {
        font-size: 2rem;
    }
    .pro-title{
        font-size: 1rem;
    }
}

/*small laptop md equal or greater than 992*/
@media (min-width: 992px) {
    .pro-name {
        font-size: 2.25rem;
    }
    .pro-title{
        font-size: 1.25rem;
    }
}

/*laptop/desktop lg equal or greater than 1200*/
@media (min-width: 1200px) {
    .pro-name {
        font-size: 2.5rem;
    }
    .pro-title{
        font-size: 1.5rem;
    }
}