body{
    background-color: #292c35;
    min-height: 100vh;
    color: white;
}

.fa-brands, .fa-solid{
    color: white;
}

.resume{
    color: white;
    border: thin solid white;
}

.body-background{
    background-color: #292c35;
}